<h1> <%= current_user.username %>'s Dashboard </h1>
<h2> <%= pluralize current_user.points, 'point' %> </h2>
<h2><%= pluralize current_user.rewards.count, 'reward' %> </h2>
<br>
<h2>Your Rewards:</h2>
<%= render 'user_rewards' %>
<%= link_to "Logout", logout_path, method: :delete %>
<%= link_to "Redeem points", rewards_path %>