Welcome, <%= current_user.username %>

<%= link_to "Create new user", new_admin_user_path %>
<%= link_to "Create new reward", new_admin_reward_path %>
<%= link_to "Rewards", admin_rewards_path %>
<%= link_to "Logout", logout_path, method: :delete %>
<%= form_for(:point_manager, url: "/admin/manage-points", method: :patch) do |f| %>
    <%= f.select :user_id, @usernames  %>

    <%= f.label :points %>
    <%= f.number_field :points %>

    <%= f.submit "Modify Points"%>
<% end %>

<% @users.each do |user| %>

  <h2><%= user.username %></h2>
  <%= pluralize user.points, "point" %>
  <%= pluralize user.redeemed_points, "redeemed point" %>
<% end %>